@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.explore-deal {
    color: #183b56;
    font-size: 30px;
    font-weight: bold;
}

.up-deal {
    color: #183b56;
    font-size: 20px;
    font-weight: bold;
}

.card {
    color: #fb1a8c;
}

.card-image {
    height: 90px;
    width: 120px;
    border-radius: 10px;
}

.sub-title {
    color: #183b56;
    font-size: 20px;
    font-weight: 500;
}

.deal-title {
    color: #ff9f00;
    font-size: 20px;
    font-weight: 500;
}

.festival-offer {
    border-radius: 10px;
    width: 100vw;
    background-size: cover;
}